.sign-up-card {
    width: 500px;
    margin: 10% auto;
    padding: 20px;
}

form > *{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form button {
    width: 80%;
    height: 50px;
}